@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rock+Salt&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../queen\ background.jpg ');
    /* Remember to replace with your image URL */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background: linear-gradient(45deg, #D63384, #FFC300);
    text-align: center;
    padding: 30px 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: static;
    top: 0;
    z-index: 10;
}

h1 {
    font-size: 4em;
    margin: 0;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 2em;
    margin: 15px 0 0;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

main {
    padding: 60px 20px;
    max-width: 900px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    margin: 40px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

main:hover {
    transform: scale(1.02);
}

.verse p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 3px solid #D63384;
    padding-bottom: 10px;
    transition: color 0.3s ease;
}

.verse p:hover {
    color: #FFC300;
}

.chorus {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 40px 0;
    border: 3px solid #FF5733;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5), 0 0 50px #FF5733 inset;
    backdrop-filter: blur(8px);
}

.chorus p {
    font-family: 'Montserrat', sans-serif;
    color: #E6B0AA;
    font-size: 1.8em;
    text-shadow: 2px 2px 8px #FF5733;
    transition: all 0.5s ease;
    transform: skewY(-3deg);
}

.chorus p:hover {
    color: #FF5733;
    text-shadow: 2px 2px 12px #E6B0AA;
    transform: skewY(3deg);
}